body {
    width: 80%;
    margin: 1% auto;
    text-align: center;
    font-family: 'Eczar', serif;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
    text-transform: uppercase;
}

h2 {
    margin: 1%;
    font-size: 1.5rem;
    font-weight: 400;
}

.game-play {
    box-sizing: border-box;
    background-color: blanchedalmond;
    max-width: 350px;
    margin: auto;
}

.btn {
    height: 125px;
    width: 125px;
    margin: 5%;
    border: 5px solid black;
    border-radius: 20px;
    font-size: 80px;
    background-color: cornflowerblue;
    outline: none;
}

.btn-start {
    background-color: darkolivegreen;
    padding: 0.5% 1%;
    font-family: 'Eczar', serif;
    font-size: 1.5rem;
}

.btn-reset {
    background-color: darkred;
    color: white;
    padding: 0.5% 1%;
    font-family: 'Eczar', serif;
    font-size: 1.5rem;
}

.pressed {
    border-color: darkgray;
    background-color: darkolivegreen;
}

.hidden {
    display: none;
}

@media(max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1rem;
    }

    .btn {
        width: 100px;
        height: 100px;
        font-size: 64px;
    }

    .btn-start, .btn-reset {
        font-size: 1rem;
    }
}